<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - дипломный проект</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Styles/Index.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Система распознавания лиц", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    @Html.ActionLink("Admits", "Index", "Admits")
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Buildings", "Index", "Buildings")
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Companies", "Index", "Companies")
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Employees", "Index", "Employees")
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Pictures", "Index", "Pictures")
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Positions", "Index", "Positions")
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Rooms", "Index", "Rooms")
                </li>
            </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - дипломный проект</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
