<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - дипломный проект</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Styles/Index.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Система распознавания лиц", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="margin-right: 10px;">
                        @Html.ActionLink("Admits", "Index", "Admits")
                    </li>
                    <li class="nav-item active" style="margin-right: 10px;">
                        @Html.ActionLink("Buildings", "Index", "Buildings")
                    </li>
                    <li class="nav-item active" style="margin-right: 10px;">
                        @Html.ActionLink("Companies", "Index", "Companies")
                    </li>
                    <li class="nav-item active" style="margin-right: 10px;">
                        @Html.ActionLink("Employees", "Index", "Employees")
                    </li>
                    <li class="nav-item active" style="margin-right: 10px;">
                        @Html.ActionLink("Pictures", "Index", "Pictures")
                    </li>
                    <li class="nav-item active" style="margin-right: 10px;">
                        @Html.ActionLink("Positions", "Index", "Positions")
                    </li>
                    <li class="nav-item active" style="margin-right: 10px;">
                        @Html.ActionLink("Rooms", "Index", "Rooms")
                    </li>
                    <li class="nav-item active" style="margin-right: 10px;">
                        @Html.ActionLink("FaceDetection", "Index", "FaceDetection")
                    </li>
                </ul>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - дипломный проект</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
